<!DOCTYPE html>
<html>

<head>
    <title>Join</title>
</head>

<body>
    <h3>Join - {{ id }}</h3>
    <script type="text/javascript">
        let socket = new WebSocket('wss://' + location.host + '/room/{{ id }}');
        socket.onmessage = (event) => {
            if (event.data === 'close') {
                socket.close();
            }
            console.log(event.data);
        };
        let socket_open = false;

        let accelerometer = null;
        try {
            accelerometer = new Accelerometer({ frequency: 60, referenceFrame: 'device' });
            accelerometer.addEventListener('error', event => {
                if (event.error.name === 'NotAllowedError') {
                    console.log('Permission to access sensor was denied.');
                } else if (event.error.name === 'NotReadableError') {
                    console.log('Cannot connect to the sensor.');
                }
            });
            accelerometer.addEventListener('reading', () => {
                socket.send(JSON.stringify({
                    x: accelerometer.x,
                    y: accelerometer.y,
                    z: accelerometer.z
                }));
            });
            accelerometer.start();
        } catch (error) {
            console.log('Error: ' + error);
        }

        socket.onopen = () => {
            socket_open = true;
        };
    </script>
</body>
