<!DOCTYPE html>
<html>

<head>
    <title>Join</title>
    <script>
        let socket = new WebSocket('wss://' + location.host + '/room/{{ id }}');
        socket.onmessage = (event) => {
            if (event.data === 'close') {
                socket.close();
            }
            console.log(event.data);
        };
        let socket_open = false;

        socket.onopen = () => {
            socket_open = true;
            const connect_data = {
                data: {
                    id: '{{ id }}',
                    accelerometer: accelerometer !== null
                }
            };
            socket.send('join');
        };

        function getAccel() {
            if (typeof DeviceMotionEvent.requestPermission === 'function') {
                DeviceMotionEvent.requestPermission()
                    .then(permissionState => {
                        if (permissionState === 'granted') {
                            console.log('Permission granted');
                            window.addEventListener('devicemotion', (event) => {
                                if (socket_open) {
                                    socket.send(JSON.stringify(event));
                                }
                            });
                            window.addEventListener('deviceorientation', (event) => {
                                if (socket_open) {
                                    socket.send(JSON.stringify(event));
                                }
                            });
                        } else {
                            console.log('Permission denied');
                        }
                    })
                    .catch(console.error);
            } else {
                console.log('DeviceMotionEvent.requestPermission not supported');
            }
        }
    </script>
</head>

<body>
    <h3>Join - {{ id }}</h3>
    <button id="accelPermsButton" onclick="getAccel()">Give Permission</button>
</body>
